<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>

    <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
    <a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a>

    {% for comment in post.comments.all %}
    <div class="comment">
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.comment|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}
</div>

<a class="btn btn-default" href="{% url 'add_comment' pk=post.pk %}">Add comment</a>


{% endblock content %}